<?xml version='1.0' encoding='utf-8'?>
<plugin id="com.ttebd.a8PayInvoke" version="1.0.0" xmlns="http://apache.org/cordova/ns/plugins/1.0" xmlns:android="http://schemas.android.com/apk/res/android"><name>A8PayInvoke</name><js-module name="A8PayInvoke" src="www/A8PayInvoke.js"><clobbers target="cordova.plugins.A8PayInvoke" /></js-module><platform name="android"><config-file parent="/*" target="res/xml/config.xml"><feature name="A8PayInvoke"><param name="android-package" value="com.ttebd.a8PayInvoke.A8PayInvoke" /></feature></config-file><config-file parent="/*" target="AndroidManifest.xml"></config-file><source-file src="src/android/A8PayInvoke.java" target-dir="src/com/ttebd/a8PayInvoke/A8PayInvoke" /></platform></plugin>